# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/staticfiles/
media/
docs/_build/


# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
